.DS_Store
.repl_history
.dat*
*~
*.sw?
tags

build
resources/*.nib
resources/*.momd
resources/*.storyboardc

vendor/Pods/Pods.bridgesupport
/vendor/Pods/Pods.xcodeproj/project.pbxproj
/vendor/Pods/Pods-Acknowledgements.*
/vendor/Pods/Pods.xcconfig
/vendor/Pods/PodsDummy_Pods.m
/vendor/Pods/build-iPhoneOS/libPods.a
/vendor/Pods/build-iPhoneSimulator/libPods.a

vendor/*/build-iPhoneSimulator
vendor/*/build-iPhoneOS
vendor/*/build
vendor/*/.build
